@import "tailwindcss";

@theme {
  --color-primary: #523dea;
  --color-secondary: #2b3a67;
  --color-accent: #ffe68f;
  --color-span: #f5f7fa;
  --color-layout: #ffffff;
  --color-container: #737785;
  --color-light: #ebebeb;

  /* Classes para tamanho dos textos */
  --text-8: 0.5rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
}

:root {
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 1rem;
  color: var(--color-span);
}

html {
  scroll-behavior: smooth;
}

/* Fontes */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-figtree), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

h1 {
  font-size: 5.5rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 4.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 4.2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.25rem;
  }
}

.figtree {
  font-family: var(--font-figtree), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.borda {
  border: 1px solid red;
}
