@import "tailwindcss";

@theme {
  --color-primary: #523dea;
  --color-secondary: #2b3a67;
  --color-accent: #81e3fe;
  --color-span: #f5f7fa;
  --color-layout: #ffffff;
  --color-container: #737785;
  --color-light: #ebebeb;
}

:root {
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 1rem;
  color: var(--color-span);
}

a {
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-figtree), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 4.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

/* Classes para tamanho dos textos */
.text-12 {
  font-size: 0.75rem;
}

.figtree {
  font-family: var(--font-figtree), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.borda {
  border: 1px solid red;
}
